<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center mt-3">Signup</h4>
                <form action="/profileEdit" method="POST">

                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="firstname" id="firstname" value="{{firstname}}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" value="{{lastname}}"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{email}}"
                            style="text-transform: lowercase;" required>
                    </div>

                    <div class="mb-3">
                        <label for="phonenumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" name="phonenumber" id="phonenumber"
                            value="{{phonenumber}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="cityState" class="form-label">City and State</label>
                        <input type="text" class="form-control" name="cityState" id="cityState" value="{{cityState}}"
                            required>
                    </div>

                    <div class="input-group mb-3 px-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Gender</span>
                        </div>
                        <select name="gender" id="gender" class="form-control" required>
                            <option value="Select" selected disabled>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="aboutme" class="form-label">About Me</label>
                        <textarea class="form-control" rows="4" name="aboutme" class="form-control"
                            placeholder="My USTA ranking, my playing experience, etc."
                            required>{{user.aboutme}}</textarea>
                    </div>

                    <p style="color: red;">
                        {{error}}
                    </p>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const gender = document.getElementById('gender').options;
        for (i = 0; i < gender.length; i++) {
            if (gender[i].value === "{{user.gender}}") { gender[i].selected = true; }
        }
    }
</script>